body {
  padding: 0;
  margin: 0;
}
* {
  box-sizing: border-box;
}
form input[type=button],
form input[type=submit],
.button {
  min-width: 120px;
  display: inline-block;
  background-color: #2cbc00;
  border: 0;
  font-size: 20pt;
  color: #fff;
  padding: 16px;
  margin: 8px;
}
form input[type=text],
form input[type=password],
form input[type="email"] {
  width: 100%;
  margin-bottom: 8px;
  border: 1px solid #2e3532;
  font-size: 20pt;
  padding: 4px;
  border-radius: 4px;
}
body {
  background-color: #00b6ff;
}
body div.pane {
  background-color: #fff;
}
body div.pane h1 {
  padding: 0;
  margin: 0;
  margin-bottom: 8px;
}
body div.text-align-center {
  width: 100%;
  text-align: center;
}
body div#authentication-pane {
  margin-top: 120px;
  display: inline-block;
  width: 90%;
  min-width: 250px;
  max-width: 540px;
  min-height: 32px;
  padding: 32px;
}
body div#form-templates {
  display: none;
}
