@require "style.styl";

body {
	logoImageSize = image-size(logoUrl);
	maxPaneWidth = 540px;
	minPaneWidth = 250px;
	#logo {
		display: inline-block;
		background-image: url(logoUrl);
		background-size: contain;
		background-repeat: no-repeat;
		width: 100%;
		min-width: minPaneWidth;
		max-width: maxPaneWidth;
		height: 100vw;
		max-height: maxPaneWidth * (logoImageSize[1] / logoImageSize[0])px;
		min-height: minPaneWidth * (logoImageSize[1] / logoImageSize[0])px;
	}
	div.breaker {
		display: block;
		height: 0px;
	}
	background-color: colors["background"];
	div.pane {
		background-color: colors["action-pane"];
		h1 {
			padding: 0;
			margin: 0;
			margin-bottom: 8px;
		}
	}
	div.text-align-center {
		margin-top: 60px;
		width: 100%;
		text-align: center;
	}
	div#authentication-pane {
		margin-bottom: 60px;
		display: inline-block;
		width: 90%;
		@media (max-width: 424px) {
			padding: 16px;
		}
		@media (min-width: 425px) {
			padding: 32px;
		}
		min-width: 250px;
		max-width: 540px;
		min-height: 32px;
	}
	div#form-templates {
		display: none;
	}
	.remember:after {
		content: "Remember Me?";
	}
}