@require "style.styl";

body {
	background-color: colors["background"];
	div.pane {
		background-color: colors["action-pane"];
		h1 {
			padding: 0;
			margin: 0;
			margin-bottom: 8px;;
		}
	}
	div.text-align-center {
		width: 100%;
		text-align: center;
	}
	div#authentication-pane {
		margin-top: 120px;
		display: inline-block;
		width: 90%;
		min-width: 250px;
		max-width: 540px;
		min-height: 32px;
		padding: 32px;
	}
	div#form-templates {
		display: none;
	}
}