//Color theme: coolors.co/00b6ff-ffffff-2e3532-f03a47-2cbc00

blue_bolt = #00B6FF;
white = #FFFFFF;
jet = #2E3532;
red_salsa = #F03A47;
kelly_green = #2CBC00;

colors = {};
colors["background"] = blue_bolt;
colors["action-pane"] = white;
colors["text-dark"] = jet;
colors["bad"] = red_salsa;
colors["good"] = kelly_green;
colors["text-light"] = white;
colors["dark-border"] = jet;

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

form input[type=button],
form input[type=submit] {
	min-width: 120px;
	display: inline-block;
	background-color: colors["good"];
	border: 0;
	font-size: 20pt;
	color: colors["text-light"];
	padding: 16px;
	margin: 8px;
}

form input[type=text],
form input[type=password],
form input[type="email"] {
	width: 100%;
	margin-bottom: 8px;
	border: 1px solid colors["dark-border"];
	font-size: 20pt;
	padding: 4px;
	border-radius: 4px;
}