//Color theme: coolors.co/00b6ff-ffffff-2e3532-f03a47-2cbc00
//Icons: https://material.io/icons/

blue_bolt = #00B6FF;
white = #FFFFFF;
warm_white = #C6C6C6;
jet = #2E3532;
red_salsa = #F03A47;
kelly_green = #2CBC00;
mantis = #78D45C;

colors = {};
colors["background"] = blue_bolt;
colors["action-pane"] = white;
colors["text-dark"] = jet;
colors["bad"] = red_salsa;
colors["good"] = kelly_green;
colors["good-light"] = mantis;
colors["checkbox-hover"] = warm_white;
colors["text-light"] = white;
colors["dark-border"] = jet;

logoUrl = "../images/icons/IdeaDumpMain.png";

body {
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
}

@require "lib/forms.styl";