//Color theme: coolors.co/00b6ff-ffffff-2e3532-f03a47-2cbc00

blue_bolt = #00B6FF;
white = #FFFFFF;
jet = #2E3532;
red_salsa = #F03A47;
kelly_green = #2CBC00;

colors = {};
colors["background"] = blue_bolt;
colors["action-pane"] = white;
colors["text-dark"] = jet;
colors["bad"] = red_salsa;
colors["good"] = kelly_green;