@require "../style.styl";

form input[type=button],
form input[type=submit],
button
.button {
	min-width: 220px;
	display: inline-block;
	background-color: colors["good"];
	border: 0;
	color: colors["text-light"];
	margin: 8px;
	font-size: 20pt;
	padding: 16px;
	@media (max-width: 424px) {
		width: 70vw;
	}
	@media (min-width: 425px) {
	}
	box-shadow: 2px 2px 2px #404040;
}

form input[type=button]:hover,
form input[type=submit]:hover,
.button:hover,
button:hover,
form input[type=button]:focus,
form input[type=submit]:focus,
.button:focus,
button:focus,
form input[type=button]:active,
form input[type=submit]:active,
.button:active,
button:active {
	background-color: colors["good-light"];
	cursor: pointer;
	box-shadow: 3px 3px 2px #404040;
}

a.button {
	text-decoration: none;
}

form input[type=text],
form input[type=password],
form input[type="email"] {
	width: 100%;
	margin-bottom: 8px;
	border: 1px solid colors["dark-border"];
	font-size: 20pt;
	padding: 8px;
	border-radius: 4px;
	padding-top: 16px;
	padding-bottom: 16px;
}

form input[type=text]:hover,
form input[type=password]:hover,
form input[type="email"]:hover,
form input[type=text]:focus,
form input[type=password]:focus,
form input[type="email"]:focus,
form input[type=text]:active,
form input[type=password]:active,
form input[type="email"]:active {
	box-shadow: 1px 1px 2px #404040;
	outline: none;
	border-bottom: 1px solid colors["good"];
}

.singleradio {
	text-align: left;
}

.singleradio input[type="checkbox"] {
	display: inline-block;
	appearance: none;
	-webkit-appearance: none;
	width: 32px;
	height: 32px;
	background-image: url("../images/icons/ic_check_box_outline_blank_black_24dp_2x.png");
	background-size: contain;
	margin: 0px;
}

.singleradio input[type="checkbox"]:after {
	margin-left: 40px;
	font-size: 24px;
	white-space: nowrap;
}

.singleradio input[type="checkbox"]:checked {
	background-image: url("../images/icons/ic_check_box_black_24dp_2x.png");
	background-size: contain;
}

.singleradio input[type="checkbox"]:active,
.singleradio input[type="checkbox"]:hover,
.singleradio input[type="checkbox"]:focus {
	background-color: colors["checkbox-hover"];
	outline: none;
}